<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package
		Name="Cuvista"
		Manufacturer="Rainer Bitschi"
		Version="1.1.0.0"
		UpgradeCode="1446b707-932a-49b4-a152-e2e0528cf201"
		>
		
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<MediaTemplate EmbedCab="yes" />

		<Icon Id="icon.ico" SourceFile="$(var.cuvistaGui.ProjectDir)\cuvistaGui.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<Feature Id="Main">
			<ComponentGroupRef Id="AppComponents" />
			<ComponentGroupRef Id="FilesToCopy" />
		</Feature>

		<DirectoryRef Id="INSTALLFOLDER">
			<Merge 
				Id="VCRedist" 
				SourceFile="C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Redist\MSVC\v143\MergeModules\Microsoft_VC143_CRT_x64.msm" 
				Language="0"
				/>
		</DirectoryRef>
		
		<Feature 
			Id="VCRedist" 
			Title="Visual C++ 2022 Runtime" 
			AllowAdvertise="no" 
			Display="hidden">
			<MergeRef Id="VCRedist"/>
		</Feature>
	</Package>
</Wix>
