@font-face {
    font-family: 'Copse';
    src: url("./fonts/Copse-Regular.ttf");
}
@font-face {
    font-family: 'Quattrocento Sans';
    src: url("./fonts/QuattrocentoSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quattrocento Sans';
    src: url("./fonts/QuattrocentoSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Quattrocento Sans';
    src: url("./fonts/QuattrocentoSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Quattrocento Sans';
    src: url("./fonts/QuattrocentoSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

a {
    text-decoration: none;
}

p {
    margin: 8px 0px; /*less space between paragraphs*/
}

body {
    font: 14px/22px 'Quattrocento Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#2b2b2b;
    background: #e7e7e7;
    margin: 0px;
    width: 100%;
    height: 100%;
    min-width: 365px;
}

header {
    height: 120px;
    padding: 25px 0px 0px 0px;
    text-align: center;
    background: url("./images/background.png") #4276b6;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.75);
    z-index: 1;
}
header h1 {
    font-size: clamp(22px, 5vw, 40px);
    font-family: 'Copse', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.25em;
    font-weight: normal;
    color:#f3f3f3;
    text-shadow: 0px 2px 0px #235796;
    margin: 0;
    white-space: nowrap;
}
header p {
    font-size: clamp(16px, 3vw, 26px);
    line-height: 1.5em;
    color:#d8d8d8;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0;
    white-space: nowrap;
    margin: 0;
}
.main_margin {
    margin-left: clamp(20px, (200% - 2000px) / 20, 100%);
    margin-right: clamp(20px, (200% - 2000px) / 3, 100%);
}

#banner {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 50px;
    width: 100%;
    margin-top: 12px;
    background:#ffcc00;
    border: 1px solid #f0b500;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    border-radius: 3px;
}
#dlsymb {
    height: 16px;
}
#download {
    border: 1px solid #dba500;
    background: linear-gradient(#ffe788, #ffce38);
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), 0px 1px 1px rgba(0,0,0,0.1);
    background-color:#FFE788;
    margin-left: 10px;
    padding: 5px 12px;
    font-size: 16px;
    color:#333;
}
#download:hover {
    background:linear-gradient(#ffe788, #ffe788);
    background-color:#ffeca0
}
#logo {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

#wrapper {
    background-color: #fdedaa;
    background-image: url("./images/background_wrapper.png");
    padding-bottom: 25px;
}
#main {
    margin-top: 50px;
    background-color: white;
    padding: 0px 24px 20px 24px;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1),
        inset 0px 0px 2px 2px rgba(255,255,255,0.5),
        inset 0 0 5px 5px rgba(255,255,255,0.4)
}

.screenshots {
    display: inline-flex;
    gap: 2%;
    width: 100%;
    max-width: 800px;
}
.screenshots img {
    width: 100%;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

#main h1 {
    font-family: 'Copse', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
    margin: 1em 0 1em 0;
}

#main h2 {
    font-family: 'Copse', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin: 1.75em 0 1em 0;
}

.video-section {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: left;
}

.video1 {
    width: 40%;
    margin-right: 20px;
    aspect-ratio: 21 / 9;
}
.video2 {
    width: 40%;
    aspect-ratio: 21 / 9;
}

.video1 iframe{
    position: relative;
}
.video2 iframe{
    position: relative;
}

ul {
    list-style-image: url("./images/bullet_red.png");
    margin-top: 5px;
}

.cuvista {
    font-variant: small-caps;
    letter-spacing: 0.05em;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    white-space: nowrap;
    background-color: #66102ba6;
    color: white;
    border-radius: 2px;
    padding: 1px 6px;
    margin-left: 2px;
    margin-right: 2px;
}


footer {
    margin-top: 24px;
    margin-bottom: 24px;
}
